body {
	cursor: pointer;
	background-image: url(images/website-background.jpg);
	background-size: contain;
	text-align: center;
	font-family: 'Berkshire Swash', cursive;
}
nav:hover {
	color: black;
	background-color: white;
	transition: 10s;
}
nav {
	background-image: url(images/img/imagess.jpg);
	background-size: cover;
	color: white;
	padding: 10px;
	font-size: 30px;
}
li > div {
	padding: 0px 20px;
	/*color: white;*/
}
li > div:hover {
	color: black;
}
nav > span {
	margin: 0px 30px;
}
nav > span > a {
	color: white;
}

nav > span > a:hover {
	background-color: white;
	color: black;
	transition: 5s;
}
nav > span:hover {
	color: blue;
	transition: 2s;
}
li {
	list-style-type: none;
	text-align: center;
	display: block;
	background-image: url(images/img/website-background.jpg);
	background-size: contain;
	color:black;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 150px;
	margin: 5px 10px;
	border: 2px solid #fbfbfb;
}
li:hover {
	color: black;
	background-image: url(images/website-background.jpg);
	background-size: cover;
	transition: 4s;
	border: 2px solid black;
}
h1 {
	list-style-type: none;
	text-align: center;
	display: block;
	color: black;
	padding: 10px;
	margin: 10px;
}
.Mockup {
	display: none;
	margin: 0px;
	line-height: 150px;
	font-size: 30px;
	text-align: center;
	position: absolute;
	top: 160px;
	right: 45px;
	width: 30%;
	height: 150px;
	padding: 20px 0px;
	background-image: url(images/website-background.jpg);
	background-size: cover;
	color: black;
	font-weight: bold;
}
.Mockup:hover {
	background-image: url(images/How-To-Choose-Best-Background-For-Your-Website.jpg);
	background-size: cover;
	color: black;
	font-size: 60px;
	border-radius: 200px;
	transition: 4s;
}
.Webpage {
	display: none;
	margin: 0px;
	line-height: 150px;
	font-size: 30px;
	text-align: center;
	position: absolute;
	top: 160px;
	left: 90px;
	width: 30%;
	height: 150px;
	padding: 20px 0px;
	background-image: url(images/website-background.jpg);
	background-size: cover;
	color: black;
	font-weight: bold;
}
.Webpage:hover {
	background-image: url(images/How-To-Choose-Best-Background-For-Your-Website.jpg);
	background-size: cover;
	color: black;
	font-size: 60px;
	border-radius: 200px;
	transition: 4s;
} 
 
li > div:hover > span {
	display: inline-block;
} 
.mockup-2 {
	display: none;
	margin: 0px;
	line-height: 220px;
	font-size: 30px;
	text-align: center;
	position: absolute;
	top: 460px;
	right: 45px;
	width: 30%;
	height: 250px;
	padding: 20px 0px;
	background-image: url(images/website-background.jpg);
	background-size: contain;
	color: black;
	font-weight: bold;
}
.mockup-2:hover {
	background-image: url(images/How-To-Choose-Best-Background-For-Your-Website.jpg);
	background-size: contain;
	color: black;
	font-size: 60px;
	border-radius: 200px;
	transition: 4s;
}
.webpage-2 {
	display: none;
	margin: 0px;
	line-height: 220px;
	font-size: 30px;
	text-align: center;
	position: absolute;
	top: 460px;
	left: 90px;
	width: 30%;
	height: 250px;
	padding: 20px 0px;
	background-image: url(images/website-background.jpg);
	background-size: contain;
	color: black;
	font-weight: bold;
}
.webpage-2:hover {
	background-image: url(images/How-To-Choose-Best-Background-For-Your-Website.jpg);
	background-size: contain;
	color: black;
	font-size: 60px;
	border-radius: 200px;
	transition: 4s;
}
.mockup-3 {
	display: none;
	margin: 0px;
	/*line-height: 150px;*/
	/*font-size: 30px;*/
	text-align: center;
	position: absolute;
	top: 870px;
	right: 25px;
	width: 30%;
	/*height: 150px;*/
	padding: 5px 0px;
	background-image: url(images/website-background.jpg);
	background-size: cover;
	color: black;
	font-weight: bold;
}
.mockup-3:hover {
	background-image: url(images/How-To-Choose-Best-Background-For-Your-Website.jpg);
	background-size: cover;
	color: black;
	font-size: 25px;
	border-radius: 100px;
	transition: 4s;
}
.webpage-3 {
	display: none;
	margin: 0px;
	/*line-height: 150px;*/
	/*font-size: 30px;*/
	text-align: center;
	position: absolute;
	top: 870px;
	left: 70px;
	width: 30%;
	/*height: 150px;*/
	padding: 5px 0px;
	background-image: url(images/website-background.jpg);
	background-size: cover;
	color: black;
	font-weight: bold;
}
.webpage-3:hover {
	background-image: url(images/How-To-Choose-Best-Background-For-Your-Website.jpg);
	background-size: cover;
	color: black;
	font-size: 25px;
	border-radius: 100px;
	transition: 4s;
} 