body {
	font-family: 'Roboto', sans-serif;

}
section {
	/*border: 1px solid black;*/
	display: inline-block;
	width: 40%;
	position: absolute;
	right: 90px;
	top: 10px;
}
.img {
	background-image: url(images/shoe.png);
	background-size: contain; 
	height: 550px;
	width: 500px;
}
.a {
	border-bottom: 1px solid black;
	display: block;
	width: 97%;
	font-size: 23px;
	padding: 1px 10px 10px 0px;
	font-weight: bold;
}
.a:nth-child(1) p {
	color: gray;
	font-size: 10px;
	margin: 5px 0px 0px;
}
#a {
	color: black;
	font-size: 17px;
	margin: 5px 0px 0px;
}
#b {
	color: gray;
	font-size: 13px;
}
#c {
	color: gray;
	font-size: 13px;
	float: right;
	display: block;
}
.d {
	margin: 9px 3px 3px 0px;
	border: 3px sdolid gray;
	width: 60px;
	height: 60px;
	background-image: url(images/shoe.png);
	background-size: cover;
}
#e {
	background-color: red;
	padding: 1px 5px; 
}
#f {
	border-bottom: 1px solid black;
}
.g {
	padding: 8px 0px 8px 8px;
	background-color: #8080802e;
}
#h {
	background-color: #8080802e;
	color: gray;
	margin-left: 5px;
	padding: 8px 80px;
	display: inline-block;
}

#i {
	margin-left: 5px;
	background-color: red;
	color: white;
	padding: 8px 40px;
	display: inline-block;
}
.underline {
	display: inline-block;
}
.underline > span:nth-child(2) {
	margin-left: 230px; 
	margin-right: 5px;
}
.underline > span {
	border-bottom: 1px solid black;
}
.last-div {
	padding: 0px 0px 15px 0px;
	margin: 5px 0px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;  
}
.last-div > p {
	font-weight: bold;
}
.last-div > p > span {
	font-weight: initial;
	border-bottom: 1px solid black;
}
.last-div > span {
	font-size: 15px;
	display: block;
} 